# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = tb.settings

[deploy:taobao_spider]
url = http://10.2.1.87:6800/addversion.json
project = tb
